# build output
dist/
.turbo/

# generated types
.vscode/
.astro/

# dependencies
node_modules/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
